.cell__button {
    height: 50px;
    width: 50px;
    padding: 0;
    border-width: 1px;
    position: relataive;
    display: flex;
    background-color: white;

    justify-content: center;
    align-items: center;
}

.cell__button:hover {
    opacity: 70%;
}

.cell__circle {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    margin: 0;
    border-radius: 50%;
    border: 1.5px solid #242424;
}

.gray-circle {
    background-color: gainsboro;
}
.red-circle {
    background-color: orangered;
}
.blue-circle {
    background-color: cyan;
}
.yellow-circle {
    background-color: yellow;
}
.green-circle {
    background-color: limegreen;
}
.purple-circle {
    background-color: magenta;
}

.cell__symbol {
    position: absolute;
    font-size: x-large;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}